@font-face {
  font-family: "RobotoThin";
  src: url("../fonts/Roboto-Thin.ttf");
}

html {
  height: 100%;
}

body {
  font-family: "RobotoThin", sans-serif;
  background: url("../img/4.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}
