@font-face {
  font-family: "RobotoThin";
  src: url("./fonts/Roboto-Thin.ttf");
}

.App {
  height: 100vh;
  display: flex;
  color: white;
}
h1 {
  position: relative;
  left: 25%;
  top: 30%;
  font-size: 3em;
  font-family: "RobotoThin", sans-serif;
  color: #1d201f;
}
.title {
  border: 1px solid white;
  position: relative;
  top: 30%;
}
.App__Aside {
  width: 50%;
  /* background-color: #66daa9; */
  background-image: url("./img/asus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #5ed0c0;
}

.App__Form {
  width: 50%;
  background-color: #2e4158;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4c5d72;
  color: #9da6b1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ed0c0;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #707c8b;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707c8b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616e7f;
}

.FormField__Button {
  background-color: #52c4b9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 1em;
  font-weight: 500;
}

.FormField__Link {
  color: #faa916;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225e62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}
